
   {{>header}}
   <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
           <div class="col-md-6 col-12 main_header_left">
               <img src="images/404.png" class="img-fluid">
            
           
           
             <p>Welcome to thapa technical world</p>
             <h1>{{errorMsg}}</h1>
             <a href="/"><button>Go Back</button></a>
            </div>
           
         </div>
       </div>
     </div>
   </div>

   {{>footer}}